<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.coreCommunicationmethod.home.title">Communicationmethods</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-communicationmethod" [routerLink]="['/communicationmethod/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.coreCommunicationmethod.home.createLabel">
            Create a new Communicationmethod
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.coreCommunicationmethod.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="communicationmethods?.length === 0">
        <span jhiTranslate="gatewayApp.coreCommunicationmethod.home.notFound">No communicationmethods found</span>
    </div>
    <div class="table-responsive" *ngIf="communicationmethods?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valueString"><span jhiTranslate="gatewayApp.coreCommunicationmethod.valueString">Value String</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="countryCode"><span jhiTranslate="gatewayApp.coreCommunicationmethod.countryCode">Country Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdByUser"><span jhiTranslate="gatewayApp.coreCommunicationmethod.createdByUser">Created By User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDateTime"><span jhiTranslate="gatewayApp.coreCommunicationmethod.createdDateTime">Created Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedByUser"><span jhiTranslate="gatewayApp.coreCommunicationmethod.updatedByUser">Updated By User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedDateTime"><span jhiTranslate="gatewayApp.coreCommunicationmethod.updatedDateTime">Updated Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="gatewayApp.coreCommunicationmethod.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="domain"><span jhiTranslate="gatewayApp.coreCommunicationmethod.domain">Domain</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contact.id"><span jhiTranslate="gatewayApp.coreCommunicationmethod.contact">Contact</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let communicationmethod of communicationmethods ;trackBy: trackId">
                <td><a [routerLink]="['/communicationmethod', communicationmethod.id, 'view' ]">{{communicationmethod.id}}</a></td>
                <td>{{communicationmethod.valueString}}</td>
                <td>{{communicationmethod.countryCode}}</td>
                <td>{{communicationmethod.createdByUser}}</td>
                <td>{{communicationmethod.createdDateTime | date:'medium'}}</td>
                <td>{{communicationmethod.updatedByUser}}</td>
                <td>{{communicationmethod.updatedDateTime | date:'medium'}}</td>
                <td>{{communicationmethod.status}}</td>
                <td>{{communicationmethod.domain}}</td>
                <td>
                    <div *ngIf="communicationmethod.contact">
                        <a [routerLink]="['/contact', communicationmethod.contact?.id, 'view' ]" >{{communicationmethod.contact?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/communicationmethod', communicationmethod.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/communicationmethod', communicationmethod.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/communicationmethod', { outlets: { popup: communicationmethod.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="communicationmethods?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
