<div class="row justify-content-center">
    <div class="col-8">
      <form name="newDomainForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="newDomainForm">
          <h2 id="jhi-contact-heading">Create a new Domain</h2>
          <div>
              <jhi-alert-error></jhi-alert-error>



              <div class="form-group">
                  <label class="form-control-label" 
                         for="name">Name</label>
                  <input type="text" class="form-control" name="name" id="name" formControlName="name"/>
                  <div *ngIf="isInvalidForm('name')" class="alert alert-danger">
                      <div *ngIf="isRequired('name')">
                          <span>Domain name is required</span>
                      </div>
                    </div>
              </div>
          </div>
          <div>
              <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                  <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
              </button>
              <button type="submit" id="save-entity" [disabled]="newDomainForm.invalid" class="btn btn-primary">
                  <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
          </div>
      </form>
    </div>
</div>